<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="CsvBasePath" value="Data\csv"/>
    </appSettings>
    <connectionStrings>
        <add name="DbAnalisisContext" connectionString="Server=.;Database=AnalisisVentasDB;Trusted_Connection=True;TrustServerCertificate=True;"/>
    </connectionStrings>
</configuration>
